.counter-list {
    counter-reset: li;
    &__item {
        &::before{
            position: relative;
            counter-increment: li;
            content: counter(li, decimal-leading-zero);
            top: 0;
            left: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            background-color: $gray-600;
            padding: .5rem;
            color: $red;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.01rem;
            
            @include media-breakpoint-up(md) {
                width: 5rem;
            }
            
            @include media-breakpoint-up(lg) {
                font-size: 1.6rem;
                height: 5rem;
                width: 5rem;
            }
        }
    }
    
    &__body {
        max-width: 23rem;
    }
}