.counter-list {
    counter-reset: li;
    &__item {
        &::before{
            position: relative;
            counter-increment: li;
            content: counter(li, decimal-leading-zero);
            top: 0;
            left: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            background-color: $gray-600;
            padding: .5rem;
            color: $red;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.01rem;
        }
    }
    
    &__body {
        max-width: 23rem;
    }
}