<section class="card-list-with-image py-10 py-md-15 py-xl-40">
    <div class="container">
        @@if (header === true) {            
            @@include('../card-header/card-header.html',{
                'eyebrow': '@@eyebrow',
                'title': '@@title',
                'desc': '@@desc',
                'textAlign': '@@textAlign',
                'rowAlign':'@@rowAlign',            
            })            
        }       
        
        <div class="row align-items-md-center">
            <div class="col-md-6">              
                @@include('../images/images.html',{
                    'imageLink':'@@imageLink'
                })
            </div>
            <div class="col-md-6">
                
                @@include('../list-image-sub-header/list-image-sub-header.html',{
                    'subTitle': '@@subTitle',
                    'subDesc': '@@subDesc',
                })
                <ol class="counter-list list-group list-unstyled ps-0 mb-0">
                    @@for (var i=0; i < counterList.list.length; i++) {                        
                        @@include('../counter-list/counter-list.html',`+(JSON.stringify(counterList.list[i]))+`)
                    }
                </ol>                
            </div>
        </div>
    </div>
</section>