<section class="card-list-with-image py-10 py-md-15 py-xl-40">
    <div class="container">
        @@if (header === true) {
            @@for (var i = 0; i < cardHeader.list.length; i++) {
                @@include('../card-image-list-header/card-image-list-header.html',`+(JSON.stringify(cardHeader.list[i]))+`)
            }
        }
        
        
        <div class="row align-items-md-center">
            <div class="col-md-6">
                @@for (var i=0; i < cardListImage.image.length; i++) {
                    @@include('../images/images.html',`+(JSON.stringify(cardListImage.image[i]))+`)
                }
            </div>
            <div class="col-md-6">
                @@for (var i=0; i < cardSubHeader.list.length; i++) {
                    @@include('../list-image-sub-header/list-image-sub-header.html',`+(JSON.stringify(cardSubHeader.list[i]))+`)
                }
                <ol class="counter-list list-group list-unstyled ps-0 mb-0">
                    @@for (var i=0; i < counterList.list.length; i++) {                        
                        @@include('../counter-list/counter-list.html',`+(JSON.stringify(counterList.list[i]))+`)
                    }
                </ol>                
            </div>
        </div>
    </div>
</section>