.#{$global} {
    &-header {
        background: transparent;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        
        @include media-breakpoint-down(lg) {
            &::before {
                position: absolute;
                content: '';
                background: $white;
                top: 0;
                left: -9999px;
                right: -9999px;
                bottom: 0;
                z-index: -1;   
            } 
        }
    }
}

.navbar-brand {
    font-size: 2.4rem;
    line-height: 1.33;
    letter-spacing: 0.01rem;
}

.navbar-collapse {
    background: $white;      
    
    @include media-breakpoint-up(lg) {
        background: transparent;
    }
}